<!-- Add search bar -->
<mat-card class="card-size">
  <mat-card-content>
    <input
      class="search"
      matInput
      (keyup)="applyFilter($event)"
      placeholder="Search"
      #input
    />

    <!-- Iterate through clients -->
    <!-- *ngFor="let client of clients" [client]="client" -->
    <!-- Add the client info to the html -->
    <!-- {{ dataSource | json }} -->

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <!--- Note that these columns can be defined in any order.
      The actual rendered columns are set as a property on the row definition" -->

      <!-- Position Column -->
      <ng-container matColumnDef="no">
        <th mat-header-cell *matHeaderCellDef>No.</th>
        <td mat-cell *matCellDef="let element; let i = index">
          {{ i + 1 }}
        </td>
      </ng-container>

      <!-- Name and Surname Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name and Surname</th>
        <td mat-cell *matCellDef="let element">{{ element.name }}</td>
      </ng-container>

      <!-- ID number Column -->
      <ng-container matColumnDef="idNum">
        <th mat-header-cell *matHeaderCellDef>Client ID Number</th>
        <td mat-cell *matCellDef="let element">{{ element.idNum }}</td>
      </ng-container>

      <!-- Cellphone Number Column -->
      <ng-container matColumnDef="cellphoneNum">
        <th mat-header-cell *matHeaderCellDef>Cellphone Number</th>
        <td mat-cell *matCellDef="let element">{{ element.cellphoneNum }}</td>
      </ng-container>

      <ng-container matColumnDef="buttons">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <div class="btn">
            <app-button
              class="btn"
              text="Edit"
              (btnClick)="editClient(element)"
            ></app-button>
            <app-button
              class="btn"
              text="Delete"
              (btnClick)="deleteClient(element)"
            ></app-button>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">
          No data client matching search "{{ input.value }}"
        </td>
      </tr>
    </table>
  </mat-card-content>
</mat-card>
