table,
th {
  font-size: 20px;
}

table,
td {
  font-size: 18px;
}

.search {
  width: 98%;
  height: auto;
  padding: 0.5%;
  border: 1px solid #000;
  border-radius: 5px;
  background-color: #eee;
  color: #000;
  font-size: 18px;
  margin-bottom: 2%;
}

.card-size {
  margin: 2% auto;
}

.example-container {
  max-height: 500px;
  overflow: auto;
}
