<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<div class="container">
  <mat-grid-list cols="4" rowHeight="5:1">
    <mat-grid-tile>
      <h1>{{ text }}</h1>
    </mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile>
      <!-- Add buttons -->
      <app-button class="btn btnLogIn" text="Log Out" (btnClick)="logOut()">
      </app-button>

      <app-button
        class="btn"
        text="Add Client"
        (btnClick)="addClient()"
      ></app-button>
    </mat-grid-tile>
  </mat-grid-list>
</div>
